        <footer class="mdc-typography--caption">
            <section>
                <a class="svg-sprite" href="{{ settings.author.uriAzurePortal }}" target="_blank" title="Microsoft Azure Portal">
                    <svg class="svg-sprite">
                        <use xlink:href="#mdi_azure_24px"></use>
                    </svg>
                </a>
                <a class="svg-sprite" href="{{ settings.author.uriAzureDevOps }}" target="_blank" title="Microsoft Azure DevOps">
                    <svg class="svg-sprite">
                        <use xlink:href="#mdi_visual_studio_24px"></use>
                    </svg>
                </a>
                <a class="svg-sprite" href="https://twitter.com/{{ settings.author.twitter }}" target="_blank" title="@{{ settings.author.twitter }}">
                    <svg class="svg-sprite">
                        <use xlink:href="#mdi_twitter_24px"></use>
                    </svg>
                </a>
                <a class="svg-sprite" href="{{ settings.author.uriLinkedIn }}" target="_blank" title="@{{ settings.author.twitter }}">
                    <svg class="svg-sprite">
                        <use xlink:href="#mdi_linkedin_24px"></use>
                    </svg>
                </a>
                <a class="svg-sprite" href="{{ settings.author.uriStackOverflow }}" target="_blank" title="@{{ settings.author.twitter }}">
                    <svg class="svg-sprite">
                        <use xlink:href="#mdi_stack_overflow_24px"></use>
                    </svg>
                </a>
                <a class="svg-sprite" href="https://github.com/{{ settings.author.github }}" target="_blank" title="@{{ settings.author.twitter }}">
                    <svg class="svg-sprite">
                        <use xlink:href="#mdi_github_circle_24px"></use>
                    </svg>
                </a>
                <a class="svg-sprite" href="{{ settings.feed.uri }}" target="_blank" title="RSS feed">
                    <svg class="svg-sprite">
                        <use xlink:href="#mdi_rss_24px"></use>
                    </svg>
                </a>
            </section>
            <section>
                <p>
                    another stone tribal move by
                    <a href="{{ settings.uriCompany }}">Songhay System</a>
                </p>
                <p>
                    powered by <a href="https://www.11ty.dev/">eleventy</a> {{ settings.eleventy.version }}
                </p>
            </section>
        </footer>
